* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

section.form-wrapper .background-cg {
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
}

section.form-wrapper .background-cg .form-fade {
    position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	border:4px solid rgb(210,210,210);
	background-color: white;
	max-width: 400px;
	padding:80px 2%;
	width: calc(94% - 32px);
}

section.form-wrapper .background-cg .form-fade input[type=text] {
    width: 100%;
	height: 48px;
	line-height: 48px;
	padding-left: 8px;
	color:#ccc;
	border:1px solid #ccc;
	margin-bottom: 20px;
}

section.form-wrapper .background-cg .form-fade input[type=submit] {
    width: 100%;
	height: 48px;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	font-family: helvetica;
	line-height: 48px;
	text-align: center;
	background: #69a4d3;
	border-radius: 10px;
	border:0;
}

section.form-wrapper .background-cg .form-fade .close-btn {
    width: 32px;
	height: 32px;
	border-radius: 16px;
	border:1px solid #ccc;
	background-color:white;
	color:#69a4d3;
	position: absolute;
	right: -16px;
	font-size: 24px;
	top: -16px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}